/* line 1, ../sass/theme/_test.scss */
[class*="col-"] {
  border: 1px solid red;
}

/* line 3, ../sass/theme.scss */
body {
  font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif;
}

/* line 7, ../sass/theme.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/theme.scss */
header {
  background-color: black;
  color: white;
}

/* line 16, ../sass/theme.scss */
header a {
  color: #1487d4;
}

/* line 20, ../sass/theme.scss */
header h1 {
  font-size: 3em;
}

/* line 24, ../sass/theme.scss */
header h2 {
  font-size: 1.5em;
}

/* line 28, ../sass/theme.scss */
nav {
  border: 1px solid black;
}
