/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 20, ../../src/sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../../src/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../../src/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../../src/sass/_reset.scss */
ul {
  list-style: none;
}

/* line 43, ../../src/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 48, ../../src/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../../src/sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../../src/sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../../src/sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../../src/sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../../src/sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../../src/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../../src/sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../../src/sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 1, ../../src/sass/layout/grid/_grid-columns.scss */
[class*="col-"] {
  float: left;
}

/* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-0 {
  display: none;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-1 {
  width: 100%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-2 {
  width: 50%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-3 {
  width: 33.33333%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-4 {
  width: 25%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-5 {
  width: 20%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-1-6 {
  width: 16.66667%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-1 {
  width: 200%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-2 {
  width: 100%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-3 {
  width: 66.66667%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-4 {
  width: 50%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-5 {
  width: 40%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-2-6 {
  width: 33.33333%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-1 {
  width: 300%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-2 {
  width: 150%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-3 {
  width: 100%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-4 {
  width: 75%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-5 {
  width: 60%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-3-6 {
  width: 50%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-1 {
  width: 400%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-2 {
  width: 200%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-3 {
  width: 133.33333%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-4 {
  width: 100%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-5 {
  width: 80%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-4-6 {
  width: 66.66667%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-1 {
  width: 500%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-2 {
  width: 250%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-3 {
  width: 166.66667%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-4 {
  width: 125%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-5 {
  width: 100%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-5-6 {
  width: 83.33333%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-1 {
  width: 600%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-2 {
  width: 300%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-3 {
  width: 200%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-4 {
  width: 150%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-5 {
  width: 120%;
}

/* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
.col-6-6 {
  width: 100%;
}

@media (max-width: 384px) {
  /* line 9, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-xs-1-1,
  .grid-fixed-height .col-xs-1-2:nth-child(2n+1),
  .grid-fixed-height .col-xs-1-3:nth-child(3n+1),
  .grid-fixed-height .col-xs-1-4:nth-child(4n+1),
  .grid-fixed-height .col-xs-1-5:nth-child(5n+1),
  .grid-fixed-height .col-xs-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xs-6-6 {
    width: 100%;
  }
}
@media (min-width: 384px) and (max-width: 768px) {
  /* line 27, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-sm-1-1,
  .grid-fixed-height .col-sm-1-2:nth-child(2n+1),
  .grid-fixed-height .col-sm-1-3:nth-child(3n+1),
  .grid-fixed-height .col-sm-1-4:nth-child(4n+1),
  .grid-fixed-height .col-sm-1-5:nth-child(5n+1),
  .grid-fixed-height .col-sm-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-sm-6-6 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1152px) {
  /* line 45, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-md-1-1,
  .grid-fixed-height .col-md-1-2:nth-child(2n+1),
  .grid-fixed-height .col-md-1-3:nth-child(3n+1),
  .grid-fixed-height .col-md-1-4:nth-child(4n+1),
  .grid-fixed-height .col-md-1-5:nth-child(5n+1),
  .grid-fixed-height .col-md-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-md-6-6 {
    width: 100%;
  }
}
@media (min-width: 1152px) and (max-width: 1536px) {
  /* line 63, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-lg-1-1,
  .grid-fixed-height .col-lg-1-2:nth-child(2n+1),
  .grid-fixed-height .col-lg-1-3:nth-child(3n+1),
  .grid-fixed-height .col-lg-1-4:nth-child(4n+1),
  .grid-fixed-height .col-lg-1-5:nth-child(5n+1),
  .grid-fixed-height .col-lg-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-lg-6-6 {
    width: 100%;
  }
}
@media (min-width: 1536px) and (max-width: 1920px) {
  /* line 81, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-xl-1-1,
  .grid-fixed-height .col-xl-1-2:nth-child(2n+1),
  .grid-fixed-height .col-xl-1-3:nth-child(3n+1),
  .grid-fixed-height .col-xl-1-4:nth-child(4n+1),
  .grid-fixed-height .col-xl-1-5:nth-child(5n+1),
  .grid-fixed-height .col-xl-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xl-6-6 {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  /* line 99, ../../src/sass/layout/grid/_grid-columns-media-queries-6-breakpoints.scss */
  .grid-fixed-height .col-xxl-1-1,
  .grid-fixed-height .col-xxl-1-2:nth-child(2n+1),
  .grid-fixed-height .col-xxl-1-3:nth-child(3n+1),
  .grid-fixed-height .col-xxl-1-4:nth-child(4n+1),
  .grid-fixed-height .col-xxl-1-5:nth-child(5n+1),
  .grid-fixed-height .col-xxl-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-xxl-6-6 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 9, ../../src/sass/layout/grid/_grid-columns-media-queries-3-breakpoints.scss */
  .grid-fixed-height .col-s-1-1,
  .grid-fixed-height .col-s-1-2:nth-child(2n+1),
  .grid-fixed-height .col-s-1-3:nth-child(3n+1),
  .grid-fixed-height .col-s-1-4:nth-child(4n+1),
  .grid-fixed-height .col-s-1-5:nth-child(5n+1),
  .grid-fixed-height .col-s-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-s-6-6 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1536px) {
  /* line 27, ../../src/sass/layout/grid/_grid-columns-media-queries-3-breakpoints.scss */
  .grid-fixed-height .col-m-1-1,
  .grid-fixed-height .col-m-1-2:nth-child(2n+1),
  .grid-fixed-height .col-m-1-3:nth-child(3n+1),
  .grid-fixed-height .col-m-1-4:nth-child(4n+1),
  .grid-fixed-height .col-m-1-5:nth-child(5n+1),
  .grid-fixed-height .col-m-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-m-6-6 {
    width: 100%;
  }
}
@media (min-width: 1536px) {
  /* line 45, ../../src/sass/layout/grid/_grid-columns-media-queries-3-breakpoints.scss */
  .grid-fixed-height .col-l-1-1,
  .grid-fixed-height .col-l-1-2:nth-child(2n+1),
  .grid-fixed-height .col-l-1-3:nth-child(3n+1),
  .grid-fixed-height .col-l-1-4:nth-child(4n+1),
  .grid-fixed-height .col-l-1-5:nth-child(5n+1),
  .grid-fixed-height .col-l-1-6:nth-child(6n+1) {
    content: '';
    display: table;
    clear: both;
  }

  /* line 7, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-0 {
    display: none;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-1 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-2 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-3 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-4 {
    width: 25%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-5 {
    width: 20%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-1-6 {
    width: 16.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-1 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-2 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-3 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-4 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-5 {
    width: 40%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-2-6 {
    width: 33.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-1 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-2 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-3 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-4 {
    width: 75%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-5 {
    width: 60%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-3-6 {
    width: 50%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-1 {
    width: 400%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-2 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-3 {
    width: 133.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-4 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-5 {
    width: 80%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-4-6 {
    width: 66.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-1 {
    width: 500%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-2 {
    width: 250%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-3 {
    width: 166.66667%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-4 {
    width: 125%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-5 {
    width: 100%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-5-6 {
    width: 83.33333%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-1 {
    width: 600%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-2 {
    width: 300%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-3 {
    width: 200%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-4 {
    width: 150%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-5 {
    width: 120%;
  }

  /* line 14, ../../src/sass/layout/grid/_grid-mixins.scss */
  .col-l-6-6 {
    width: 100%;
  }
}
/* line 6, ../../src/sass/layout/grid/_grid.scss */
.grid:after {
  content: '';
  display: table;
  clear: both;
}

/* line 13, ../../src/sass/layout/grid/_grid.scss */
.grid,
[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../src/sass/layout/_header.scss */
.site-header {
  padding: 10px;
}
/* line 5, ../../src/sass/layout/_header.scss */
.site-header h1,
.site-header h2 {
  display: inline;
  margin-right: 10px;
}

/* line 1, ../../src/sass/layout/_nav.scss */
.site-nav li {
  display: inline;
}

/* line 1, ../../src/sass/layout/_contact.scss */
.contact {
  *zoom: 1;
}
/* line 38, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.contact:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../../src/sass/layout/_contact.scss */
.contact-link {
  display: block;
  margin: 1% auto;
  width: 90%;
  text-align: center;
}

/* line 1, ../../src/sass/layout/_experience-summary.scss */
.experience-summary {
  margin: 1%;
}

/* line 5, ../../src/sass/layout/_experience-summary.scss */
.experience-summary-title {
  display: block;
  margin: 1% auto;
  width: 90%;
  text-align: center;
}

/* line 1, ../../src/sass/layout/_skill-list.scss */
.skill-list {
  *zoom: 1;
}
/* line 38, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.skill-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../../src/sass/layout/_skill-list.scss */
.skill-list,
.skill-list-title,
.skill-list-item {
  margin: 1% 5%;
}

/* line 11, ../../src/sass/layout/_skill-list.scss */
.skill-list-item {
  float: left;
  padding: 1% 5%;
}

@media (max-width: 768px) {
  /* line 17, ../../src/sass/layout/_skill-list.scss */
  .skill-list {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1536px) {
  /* line 23, ../../src/sass/layout/_skill-list.scss */
  .skill-list {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}
@media (min-width: 1536px) {
  /* line 31, ../../src/sass/layout/_skill-list.scss */
  .skill-list {
    float: left;
    width: 39%;
  }
}
/* line 1, ../../src/sass/theme/_h1-6.scss */
h1 {
  font-size: 220%;
}

/* line 5, ../../src/sass/theme/_h1-6.scss */
h2 {
  font-size: 200%;
}

/* line 9, ../../src/sass/theme/_h1-6.scss */
h3 {
  font-size: 180%;
}

/* line 13, ../../src/sass/theme/_h1-6.scss */
h4 {
  font-size: 160%;
}

/* line 17, ../../src/sass/theme/_h1-6.scss */
h5 {
  font-size: 140%;
}

/* line 21, ../../src/sass/theme/_h1-6.scss */
h6 {
  font-size: 120%;
}

@media (max-width: 768px) {
  /* line 26, ../../src/sass/theme/_h1-6.scss */
  h1 {
    font-size: 160%;
  }

  /* line 30, ../../src/sass/theme/_h1-6.scss */
  h2 {
    font-size: 150%;
  }

  /* line 34, ../../src/sass/theme/_h1-6.scss */
  h3 {
    font-size: 140%;
  }

  /* line 38, ../../src/sass/theme/_h1-6.scss */
  h4 {
    font-size: 130%;
  }

  /* line 42, ../../src/sass/theme/_h1-6.scss */
  h5 {
    font-size: 120%;
  }

  /* line 46, ../../src/sass/theme/_h1-6.scss */
  h6 {
    font-size: 110%;
  }
}
/* line 3, ../../src/sass/theme/_global.scss */
body {
  font: 1em "Lucida Grande", "Lucida Sans Unicode", Segoe UI, Helvetica, Arial, sans-serif;
  background-color: white;
}

/* line 8, ../../src/sass/theme/_global.scss */
.button {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  background-color: #1487d4;
  color: white;
}

/* line 14, ../../src/sass/theme/_global.scss */
a {
  color: #1487d4;
  text-decoration: none;
}

/* line 1, ../../src/sass/theme/_header.scss */
.site-header {
  background-color: black;
  color: white;
}
/* line 5, ../../src/sass/theme/_header.scss */
.site-header h1 {
  font-size: 3em;
}
/* line 9, ../../src/sass/theme/_header.scss */
.site-header h2 {
  font-size: 1.5em;
}

/* line 1, ../../src/sass/theme/_nav.scss */
.site-nav {
  border: 1px solid black;
}

/* line 1, ../../src/sass/theme/_skill-list.scss */
.skill-list {
  background-color: #031a2a;
}

/* line 5, ../../src/sass/theme/_skill-list.scss */
.skill-list-title {
  color: white;
}

/* line 1, ../../src/sass/_test.scss */
[class*="col-"] {
  border: 1px solid red;
}

/* line 5, ../../src/sass/_test.scss */
.skill-list {
  border: 1px solid black;
}
