h1 {
    font-size: 220%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 180%;
}

h4 {
    font-size: 160%;
}

h5 {
    font-size: 140%;
}

h6 {
    font-size: 120%;
}

@include media-width-s {
    h1 {
        font-size: 160%;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 140%;
    }

    h4 {
        font-size: 130%;
    }

    h5 {
        font-size: 120%;
    }

    h6 {
        font-size: 110%;
    }
}